<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<style>
    button{
        padding: 5px 30px;
        border-radius: 5px;
        /* border: 0; */
        color: red;
        border: 2px solid red;
        background-color: white;
    }
    button:hover{
        background-color: red;
        color: white;
    }
</style>
<body>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>FIO</th>
                <th>Username</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{forloop.counter}} </td>
                <td>{{user.first_name}}</td>
                <td>{{user.username}}</td>
                <td>
                    <form action="" method="post">
                        <input type="text" name="user_id" value="{{user.id}}" id="user_id">
                        <button name="delete">
                            O'chirish
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>