
{% extends 'user/base.html' %}
  
{% block title %} Testlarim {% endblock %}
{% block content %}

<style>
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 10px 20px;
    }
    .section_title{
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 30px;
    }
    .section_title img{
        width: 40px;
        height: auto;
        border-radius: 50%;
    }
    .section_title h2{
    background: linear-gradient(45deg, #6b1cce, #74a9f3);
    background-clip: text;
    color: transparent;
    margin: 0;
    }

    .cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        gap: 20px;
        z-index: 2;
    }
    .card{
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgb(138, 138, 138, 0.6);
        /* transition: 0.2s ease; */
    }
    .id_star{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .id_star .stars{
        display: flex;
        justify-content: space-between;
        position: absolute;
        right: 0;
    }
    .id_star p{
        background:linear-gradient(45deg, rgb(168, 11, 215), aqua);
        padding: 3px 10px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    }
    p, i{
        margin: 0;
        padding: 0;
    }
    .star_no_fill{
        display: flex;
    }
    .star_fill{
        position: absolute;
        right: 0;
        /* width: 50%; */
        left: 0%;
        /* background-color: #6b1cce; */
        color: gold;
        overflow: hidden;
        display: flex;
        /* box-sizing: border-box; */
    }

    .test_nom{
        font-size: 24px;
        width:fit-content;
        background:linear-gradient(45deg, rgb(168, 11, 215), aqua);
        background-clip: text;
        color: transparent;
        background-size: 100% 100%;
        margin-top: 10px;
    }
    .test_fani{
        font-size: 18px;
        color: green;
        margin-top: 0px;
    }
    .test_tasnif{
        color: gray;
        font-size: 16px;
    }
    .action_btns{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        gap: 10px;
        justify-content: space-between;
        margin-top: 10px;
    }
    /* .action_btns button{
        padding: 0;
    } */
    .plus_test{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        position: fixed;
        right: 50px;
        bottom: 50px;
        z-index: 100;
        width: 80px;
        height: 80px;
    }
    .plus_test i{
        color: rgb(0, 255, 0);
        font-size: 80px;
    }
    .i_div{
        z-index: 101;
    }
    .p_div{
        width: 150px;
        text-align: center;
        position: relative;
        height: 0;
        right:calc(25% + 15px);
        background-color: #74a9f3;
        color: white;
        border-radius: 10px;
        overflow: hidden;
        transition: all 0.5s linear;
        z-index: 80;
    }
    .i_div:hover ~  .p_div{
        height: 1000px;
        width: 150px;
        right: calc(25% + 15px);
        overflow: visible;
        z-index: 102;
    }
    .plus_modal{
        position: fixed;
        padding: 20px;
        /* box-shadow: 0 0 10px gray; */
        top: 50px;
        right: -60%;
        height: 100%;
        background-color: white;
        text-align: center;
        z-index: 1001;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 50%;
        transition: 0.5s linear;
    }
    .plus_modal div{
        position: relative;
        margin-top: 20px;
    }
    .plus_modal div input{
        width: 100%;
        border-radius: 10px;
        padding: 10px 15px;
        outline: none;
        border: 2px solid rgb(0, 72, 255);
        font-size: 20px;
        box-sizing: border-box;
    }
    .plus_modal div label{
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 20px;
        transition: all 0.2s linear;
    }
    .plus_modal div textarea{
        min-width: 100%;
        min-height: 100px;
        font-size: 20px;
        padding: 10px 15px;
        border-radius: 10px;
        border: 2px solid blue;
        outline: none;
    }
    .plus_modal div input:focus+label, .plus_modal div input:not(:placeholder-shown)+label{
        top: -15px;
        padding: 0 10px;
        background-color: white;
        color: blue;
    }
    .plus_modal div textarea:focus+label, .plus_modal div textarea:not(:placeholder-shown)+label{
        top: -15px;
        padding: 0 10px;
        background-color: white;
        color: blue;
    }
    .x_modal_plus{
        position: absolute;
        top: 10px;
        left: 20px;
        font-size: 40px;
        background-color: red;
        color: white;
        border-radius: 5px;
        width: 60px;
    }
    .x_modal_plus:hover{
        background-color: rgb(228, 0, 0);
    }
    .test_btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .test_btn button{
        padding: 10px 50px;
        background: linear-gradient(45deg, rgb(171, 3, 232), aqua);
        color: white;
        font-size: 20px;
        border: 0;
        border-radius: 5px;
    }
    .x_plus_modal{
        width: 0%;
        height: 100%;
        background-color: rgba(128, 128, 128, 0.186);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        transition: all 0.5s linear;
    }

    .test_info{
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }
    .test_info .test_info_div{
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
    }
    .test_info_div div{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .test_comment{
        background-color: #e2ffe7;
        color: #26b236;
        padding: 10px;
        font-size: 13px;
    }
    .test_like_dislike{
        font-size: 13px;
        padding: 5px;
        background-color: rgba(179, 179, 179, 0.452);
    }
    .test_like_dislike div:nth-child(1){
        background-color: rgba(97, 255, 131, 0.827);
        padding: 5px;
        border-radius: 5px;
        color: rgb(0, 138, 0);
    }
    .test_like_dislike div:nth-child(2){
        background-color: rgba(255, 97, 97, 0.827);
        padding: 5px;
        border-radius: 5px;
        color: rgb(138, 0, 0);
    }
    .test_attempt{
        background-color: #eef4ff;
        color: #1e40af;
        padding: 10px;
        font-size: 13px;
    }
    .one_info{
        background-color: white;
        box-shadow: 0 0 10px rgba(128, 128, 128, 0.315);
        text-align: center;
        border-radius: 10px;
        padding: 40px;
    }
    .one_info span{
        font-size: 20px;
        color: rgb(255, 0, 0);
    }
    .one_info p{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .delet_modal_form{
        position: fixed;
        background-color: white;
        box-shadow: 0 0 10px rgba(128, 128, 128, 0.425);
        border-radius: 10px;
        overflow: hidden;
        z-index: 1000;
        width: 500px;
        left: calc(50% - 250px);
        text-align: center;
        top: -50%;
        transition: all 0.3s linear;
    }
    .delet_modal_form h2{
        display: flex;
        background-color: red;
        margin: 0;
        padding: 2px 10px;
        font-size: 18px;
        color: white;
    }
    .delet_modal_form p{
        padding: 10px 40px;
        font-size: 20px;
    }
    .delet_modal_form span{
        font-size: 25px;
        color: red;
    }
    .delet_modal_form div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;
        box-sizing: border-box;
        border-top: 2px solid rgba(128, 128, 128, 0.251);
    }
    .delet_modal_form button{
        padding: 5px 20px;
        background-color: white;
        border: 0;
        border-radius: 5px;
        color: white;
        font-size: 20px;
    }
    .delet_modal_form div button:nth-child(1){
        background-color: red;
    }
    .delet_modal_form div button:nth-child(2){
        background-color: rgb(128, 128, 128);
    }
    .delete_modal_back{
        z-index: 999;
        position: fixed;
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        transition: all 0.3s linear;
        background-color: rgba(128, 128, 128, 0.308);
    }
</style>

<div class="plus_test">
    <div class="i_div" onclick="plus_modal_open(1)">
        <i class="bi bi-plus-square-fill"></i>
    </div>
    <div class="p_div">
        <p>
            Test qo'shish uchun bosing.
        </p>
    </div>
</div>

<div class="x_plus_modal" onclick="plus_modal_open(0)"></div>
<form class="plus_modal">
    <i class="x_modal_plus bi bi-x" onclick="plus_modal_open(0)"></i>
    <h2>
        Test qo'shish
    </h2>
    <input type="text" id="test_edit_id" name="test_id" value="12">
    <div class="test_nom_input">
        <input type="text" name="test_nom" id="test_nom_id" placeholder="">
        <label for="test_nom_id">Test Nomi</label>
    </div>
    <div class="test_fan_input">
        <input type="text" name="test_fan" id="test_fan_id" placeholder="">
        <label for="test_fan_id">Test Fani</label>
    </div>
    <div class="test_tavsif_input">
        <textarea name="test_tavsif" id="test_tavsif_id" placeholder=""></textarea>
        <label for="test_tavsif_id">Test Tavsif</label>
    </div>
    <div class="test_btn">
        <div class="inline field">
            <div class="ui toggle checkbox">
                <input type="checkbox" tabindex="1" id="public_id" checked="True" class="hidden">
                <label>Public</label>
            </div>
        </div>
        <button>
            Test Qo'shish
        </button>
    </div>
</form>


<!-- #############   testni ochirish ############  -->
<div class="delete_modal_back" onclick="delete_modal('0')"></div>
 <div action="" class="delet_modal_form">
    <input type="hidden" id="delete_test_id">
    <h2>
        Testni o'chirish 
    </h2>
    <span id="delete_test_nom">Test nom</span>
    <p>
        Haqiqatdan ham o'chirasizmi.
    </p>
    <div>
        <button onclick="delete_test_fetch(document.getElementById('delete_test_id').value)">Ha</button>
        <button onclick="delete_modal('0')">Bekor qilish</button>
    </div>
</div>


<main>
    <section></section>
    <section>
        <div class="container">
            <div class="section_title">
                <img src="/static/logo.gif" alt="">
                <h2>Testlarim</h2>
            </div>
            <div class="cards">
                {% if testlar %}
                    {% for test in testlar %}
                    <div class="card" id="test_card_id_{{test.test_id}}">
                        <div class="id_star">
                            <p onclick="copyTextToClipboard(event, '{{test_id}}')">{{test.test_id}} </p>
                            <div class="stars">
                                <div class="star_no_fill">
                                    <span class="bi bi-star"></span>
                                    <span class="bi bi-star"></span>
                                    <span class="bi bi-star"></span>
                                    <span class="bi bi-star"></span>
                                    <span class="bi bi-star"></span>
                                </div>
                                <div class="star_fill">
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                </div>
                            </div>
                        </div>
                        <div class="test_nom">{{test.nom}} </div>
                        <div class="test_fani">{{test.fan}}</div>
                        <div class="test_tasnif">{{test.tavsif}} </div>
                        <div class="test_info">
                            <div class="test_info_div test_attempt">
                                <strong>Ishlanishlar: </strong>
                                <p>100 ta</p>
                            </div>
                            <div class="test_info_div test_comment">
                                <strong>Izohlar:</strong>
                                <p>100 ta</p>
                            </div>
                            <div class="test_info_div test_like_dislike">
                                <div>
                                    <i class="bi bi-hand-thumbs-up-fill"></i>
                                    <p>
                                        100
                                    </p>
                                </div>
                                <div>
                                    <i class="bi bi-hand-thumbs-down-fill"></i>
                                    <p>
                                        100
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="action_btns">
                            <button class="btn btn-outline-primary">Yechish</button>
                            <button class="btn btn-outline-success">Testlar</button>
                            <button class="btn btn-outline-info" onclick="test_edit_func(event, '{{test.test_id}}')">Tahrirlash</button>
                            <button class="btn btn-outline-danger" onclick="delete_modal('1', '{{test.test_id}}', '{{test.nom}}')">O'chirish</button>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="one_info">
                        <p>
                            Hozir sizda hech qanday testlar yo'q.
                        </p>
                        <p>
                            Test qo'shish uchun <span>Plus</span> belgisini bosing va testlar qo'shing.
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</main>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

<script>

    // function card_func(){
    //     alert('card')
    // }

    function delete_modal(isopen,test_id, test_nom){
        if (isopen == '1'){
            document.getElementById('delete_test_id').value = test_id
            document.getElementById('delete_test_nom').innerText = test_nom
            document.querySelector('.delet_modal_form').style.top = '100px'
            document.querySelector('.delete_modal_back').style.height = '100%'
        }
        else{
            document.querySelector('.delet_modal_form').style.top = '-50%'
            document.querySelector('.delete_modal_back').style.height = '0'
        }
    }

    async function delete_test_fetch(test_id){
        let res = await fetch('http://127.0.0.1:8003/testlarim/delete/', {
            method : 'POST',
            headers:{
                'Content-Type': 'application/json'
            },
            credentials:'include',
            body:JSON.stringify({test_id})
        })

        let data = await res.json()
        if (data.status == 'error'){
            alert(data.message)
            delete_modal(0)
            return
        }
        document.getElementById(`test_card_id_${test_id}`).remove()
        let cards = document.querySelector('.cards')
        console.log(cards);
        
        if(!cards.innerText){
            cards.innerHTML = `
            <div class="one_info">
                <p>
                    Hozir sizda hech qanday testlar yo'q.
                </p>
                <p>
                    Test qo'shish uchun <span>Plus</span> belgisini bosing va testlar qo'shing.
                </p>
            </div>
                    `
        }
        delete_modal(0)

    }


    document.querySelector('.plus_modal').addEventListener('submit', async (e)=>{
        e.preventDefault()
        let nom = document.querySelector('#test_nom_id').value
        let fan = document.querySelector('#test_fan_id').value
        let tavsif = document.querySelector('#test_tavsif_id').value 
        let public = document.querySelector('#public_id').checked 
        if (nom && fan && tavsif){
            let res = await fetch('http://127.0.0.1:8003/testlar/add/', {
                method: "POST",
                credentials: "include",
                headers:{
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    nom, fan, tavsif, public
                })
            })  
            let data = await res.json()
            if (data.test){
                let one_info = document.querySelector('.one_info')
                if(one_info) one_info.remove()
                document.querySelector('.cards').innerHTML+=`
                    <div class="card" id='test_card_id_${data.test.test_id}'>
                    <div class="id_star">
                        <p onclick="copyTextToClipboard(event, '${data.test.test_id}')">${data.test.test_id} </p>
                        <div class="stars">
                            <div class="star_no_fill">
                                <span class="bi bi-star"></span>
                                <span class="bi bi-star"></span>
                                <span class="bi bi-star"></span>
                                <span class="bi bi-star"></span>
                                <span class="bi bi-star"></span>
                            </div>
                            <div class="star_fill">
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                                <span class="bi bi-star-fill"></span>
                            </div>
                        </div>
                    </div>
                    <div class="test_nom">${data.test.nom} </div>
                    <div class="test_fani">${data.test.fan}</div>
                    <div class="test_tasnif">${data.test.tavsif} </div>
                    <div class="test_info">
                        <div class="test_info_div test_attempt">
                            <strong>Ishlanishlar: </strong>
                            <p>100 ta</p>
                        </div>
                        <div class="test_info_div test_comment">
                            <strong>Izohlar:</strong>
                            <p>100 ta</p>
                        </div>
                        <div class="test_info_div test_like_dislike">
                            <div>
                                <i class="bi bi-hand-thumbs-up-fill"></i>
                                <p>
                                    100
                                </p>
                            </div>
                            <div>
                                <i class="bi bi-hand-thumbs-down-fill"></i>
                                <p>
                                    100
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="action_btns">
                        <button class="btn btn-outline-primary">Yechish</button>
                        <button class="btn btn-outline-success">Testlar</button>
                        <button class="btn btn-outline-info" onclick="test_edit_func(event, ${data.test.test_id})">Tahrirlash</button>
                        <button class="btn btn-outline-danger" onclick="delete_modal('1', '${data.test.test_id}', '${data.test.nom}')">O'chirish</button>
                    </div>
                </div>
                `
            }
        }
    })

    function test_edit_func(e, id){
        e.stopPropagation()
        document.getElementById('test_edit_id').value = id
        plus_modal_open(1);
    }



    function plus_modal_open(i){
        let plus_modal = document.querySelector('.plus_modal')
        let x_plus_modal = document.querySelector('.x_plus_modal')
        if (i==0){
            plus_modal.style.right = '-60%'
            x_plus_modal.style.width='0'
        }
        else{
            plus_modal.style.right = '0%'
            x_plus_modal.style.width='100%'
        }
    }
    // let cards = document.querySelector('.cards')
    // let card = cards.innerHTML
    // for(let i=0; i<10; i++){
    //     cards.innerHTML+=card
    //     // cards.innerHTML+=`
    //     //     <div class="card">
    //     //             <div class="id_star">
    //     //                 <p onclick="copyTextToClipboard(12345678)">12345678</p>
    //     //                 <div class="stars">
    //     //                     <div class="star_no_fill">
    //     //                         <span class="bi bi-star"></span>
    //     //                         <span class="bi bi-star"></span>
    //     //                         <span class="bi bi-star"></span>
    //     //                         <span class="bi bi-star"></span>
    //     //                         <span class="bi bi-star"></span>
    //     //                     </div>
    //     //                     <div class="star_fill">
    //     //                         <span class="bi bi-star-fill"></span>
    //     //                         <span class="bi bi-star-fill"></span>
    //     //                         <span class="bi bi-star-fill"></span>
    //     //                         <span class="bi bi-star-fill"></span>
    //     //                         <span class="bi bi-star-fill"></span>
    //     //                     </div>
    //     //                 </div>
    //     //             </div>
    //     //             <div class="test_nom">Test nomi</div>
    //     //             <div class="test_fani">Matematika</div>
    //     //             <div class="test_tasnif">Boshlang'ich daraja</div>
    //     //             <div class="test_info">
    //     //                 <div class="test_attempt">
    //     //                     <strong>Ishlanishlar: </strong>
    //     //                     <p>100 ta</p>
    //     //                 </div>
    //     //                 <div class="test_comment">
    //     //                     <strong>Izohlar:</strong>
    //     //                     <p>100 ta</p>
    //     //                 </div>
    //     //                 <div class="test_like_dislike">
    //     //                     <div>
    //     //                         <i class="bi bi-hand-thumbs-up-fill"></i>
    //     //                         <p>
    //     //                             100
    //     //                         </p>
    //     //                     </div>
    //     //                     <div>
    //     //                         <i class="bi bi-hand-thumbs-down-fill"></i>
    //     //                         <p>
    //     //                             100
    //     //                         </p>
    //     //                     </div>
    //     //                 </div>
    //     //             </div>
    //     //             <div class="action_btns">
    //     //                 <button class="btn btn-outline-primary">Yechish</button>
    //     //                 <button class="btn btn-outline-success">Testlar</button>
    //     //                 <button class="btn btn-outline-info">Tahrirlash</button>
    //     //                 <button class="btn btn-outline-danger">O'chirish</button>
    //     //             </div>
    //     //         </div>
    //     // `
    // }
    
    
    $('.ui.checkbox').checkbox();



    async function copyTextToClipboard(event, text) {
        event.stopPropagation()
        
  try {
    await navigator.clipboard.writeText(text);
    console.log('Text copied to clipboard successfully!');
  } catch (err) {
    console.error('Failed to copy text: ', err);
  }
}

</script>








  



  <script>
    function toggleMenu() {
      const nav = document.getElementById("navLinks");
      nav.classList.toggle("show");
    }
    function icon_time_func(btn){
      let body_el = document.querySelector('body')
      if(btn.classList[2]=='bi-brightness-high'){
        btn.classList.remove('bi-brightness-high')
        btn.classList.add('bi-moon')
        body_el.classList.remove('kun')
        body_el.classList.add('tun')
      }
      else{
        btn.classList.remove('bi-moon')
        btn.classList.add('bi-brightness-high')
        body_el.classList.remove('tun')
        body_el.classList.add('kun')
      }
    }
  </script></body>

{% endblock %}