{% extends 'simple_user/base.html' %}
{% block title %} Sing Up  {% endblock %}


{% block content %}

<style>
    
    .register_container{
        width: 400px;
        margin: 0 auto;
        margin-top: 100px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(128, 128, 128, 0.305);
        text-align: center;
    }
    .register_container h2{
        font-size: 25px;
        margin: 0;
    }
    .register_div div{
        position: relative;
        display: flex;
    }
    .register_div input{
        width: 100%;
        padding: 10px 10px 10px 20px;
        border-radius: 5px;
        outline: none;
        border: 3px solid rgb(39, 129, 255);
        margin-top: 20px;
        font-size: 20px;
    }
    .register_div label{
        position: absolute;
        top: 30px;
        left: 10px;
        font-size: 20px;
        padding: 0 10px;
        transition: all 0.3s linear;
    }
    .register_div input:focus+label, .register_div input:not(:placeholder-shown)+label{
        top: 10px;
        background-color: white;
        color: rgb(39, 129, 255);
    }
    .register_div button{
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        border: 0;
        margin-top: 20px;
        background: rgb(151, 7, 218);
        color: white;
        font-size: 20px;
    }
    .msg_show{
        color: red;
        font-size: 16px;
        width: 100%;
    }
</style>


<div class="register_container">
    <h2>
        Register
    </h2>
    <form class="register_div" action="">
        <div>
            <input type="text" name="fio" id="fio" placeholder="">
            <label for="fio">First Name</label>
        </div>
        <div>
            <input type="text" name="email" id="email" placeholder="">
            <label for="email">Email</label>
        </div>
        <div>
            <input type="text" name="username" id="username" placeholder="">
            <label for="username">Username</label>
        </div>
        <div>
            <input type="text" name="password1" id="password1" placeholder="">
            <label for="password1">Password</label>
        </div>
        <div>
            <input type="text" name="password2" id="password2" placeholder="">
            <label for="password2">Return Password</label>
        </div>
        <button type="submit">
            Register
        </button>
        <div>
            <p class="msg_show"> 
            </p>
        </div>
    </form>
</div>

<script>
    // window.location.href = 'salom/'
    document.querySelector('.register_div').addEventListener('submit', async (e)=>{
        // alert('sa')
        // e.stopPropagation()
        // e.defaultPrevented()
        e.preventDefault()
        fio = document.getElementById('fio').value;
        email = document.getElementById('email').value;
        username = document.getElementById('username').value;
        password1 = document.getElementById('password1').value;
        password2 = document.getElementById('password2').value;
        let res = await fetch('http://127.0.0.1:8002/register/', {
            method: 'POST',
            credentials: "include", 
            headers: {
            'Content-Type': 'application/json'
        },
            body: JSON.stringify({
                fio, email, username, password1, password2
            })
        })
        let data = await res.json()
        document.querySelector('.msg_show').innerHTML = data.message
        window.location.href = data.redirect
    })
</script>

{% endblock %}